.__project__card {
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px #838485;
    opacity: 0;
    transform: translateY(50%);
    transition: 200ms ease;
}
.dark .__project__card {
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.2);
}

.__animate__in {
    opacity: 1;
    transform: translateY(0);
}

@keyframes animateObserver {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    5% {
        transform: translateY(0);
    }
    100% {
        opacity: 1;
    }
}
