.animate-in {
    animation-name: openModal 1000ms ease-out forwards 3s;

    /* transform: scale(0); */
}

@keyframes openModal {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.__modal {
    position: fixed;
    top: 65px;
    width: 100vw;
    height: calc(100vh - 65px);
    z-index: 70;
}

.__modal_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.__modal_content {
    width: 100%;
    max-width: 400px;
    margin: 0 0.75rem;
    border-radius: 1rem;
    padding: 1.5rem;
    color: #333;
    background-color: #e2e8f0;
    max-height: 450px;
    overflow: hidden;
    overflow-y: auto;
}

.dark .__modal_content {
    color: rgba(255, 255, 255, 0.953);
    background-color: #374151;
}
