/* .__social__links {
    position: fixed;
    background-color: red;
    top: 65px;
    left: 0;
    width: 50px;
}
.__social__links ul {
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    display: flex;
    height: calc(100vh - 65px);
} */
